
body{
    background-color: aquamarine;
    color: rgb(17, 19, 20);
    font-size: 150%;
}
a{
    color: rgb(11, 11, 13);
    text-decoration: none;
}
a:hover{
    color: blueviolet;
    background-color: brown;
}
ul,li{
    list-style: none;
}
.bg{
    width: 100%;
    height: 100vh;
    background-image:url(./beauty-gedc4988a7_1920.jpg) ;
    background-repeat: no-repeat;
}